@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
   
    <!-- jQuery DEBE ir -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- DataTables  -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- script personalizado -->
    <script src="~/js/Filtrado de tablas_JavaScript.js"></script>
    <!-- Template CSS -->

    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="w3l-index2" id="about">
        <div class="midd-w3 py-5">
            <div class="container py-md-5 py-3">
                <!--/row-1-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="w3shape position-relative">
                            <img src="~/assets/images/carrusel3.webp" alt="" class="radius-image img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 align-self ps-lg-5">
                        <div class="title-content text-left">
                            <h6 class="title-subhny mb-2"><span></span></h6>
                            <h3 class="title-w3l">
                                ¿Busca información?
                                <span class="span-bold"></span>
                            </h3>
                        </div>
                        <p class="mt-md-4 mt-3">
                            En este lugar podrá encontrar información sobre los bonos que trabaja Grupo ABASA ofrece.
                            Aquí encontrara información como características, requisitos en otros. Si tiene alguna duda por favor contáctenos
                        </p>
                        <div class="w3l-two-buttons">
                            <a href="@Url.Action("Contactos", "Contactos")" class="btn btn-outline-primary btn-style mt-lg-5 mt-4 ms-2">
                                Ver información de contacto <span class="fas fa-angle-double-right ms-2"></span>
                            </a>
                        </div>

                    </div>
                </div>
                <!--//row-1-->

            </div>
        </div>
    </section>
    <table id="TbDoc" class="TablaFilt mt-3">
        <thead class="CabezaTablaFilt"> 
            <tr>
                <th>
                    Nombre del bono
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Acción
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    Bono Crédito
                </td>
                <td>
                    Subsidio mixto que combina aporte estatal y préstamo bancario para adquirir o 
                    construir vivienda. Requiere demostrar capacidad de pago al generar compromiso 
                    con la entidad financiera.
                </td>
                <td>
                    <a href="~/assets/Documentos/Bono_Crédito.pdf"
                       class="btn btn-secondary btn-style"
                       download="Bono_Crédito.pdf">
                        Descargar información <span class="botonDescargar fa-solid fa-arrow-down"></span>
                    </a>

                       

                    
                </td>
            </tr>
            <tr>
                <td>
                    Bono Ordinario
                </td>
                <td>
                    Subsidio estatal (vía BANHVI) para personas o familias de bajos recursos que facilita construir, comprar una vivienda digna.
                </td>
                <td>


                    <a href="~/assets/Documentos/Bono_Ordinario.pdf"
                       class="btn btn-secondary btn-style"
                       download="Bono_Ordinario.pdf">
                        Descargar información <span class="botonDescargar fa-solid fa-arrow-down"></span>
                    </a>

                    
                </td>
            </tr>
            <tr>
                <td>
                    Bono RAMP
                </td>
                <td>
                    Subsidio estatal para remodelar, ampliar o mejorar viviendas existentes con materiales estructurales adecuados; no cubre construcción nueva ni estructuras livianas o inestables.
                </td>
                <td>


                    <a href="~/assets/Documentos/Bono_RAMP.pdf"
                       class="btn btn-secondary btn-style"
                       download="Bono_RAMP.pdf">
                        Descargar información <span class="botonDescargar fa-solid fa-arrow-down"></span>
                    </a>

                   

                </td>
            </tr>
            <tr>
                <td>
                    Bono de Vivienda Artículo 59
                </td>
                <td>
                    Subsidio dirigido a grupos en extrema pobreza que incluye tanto el lote como la construcción de la vivienda, a diferencia de otros subsidios.
                </td>
                <td>


                    <a href="~/assets/Documentos/Bono_Articulo_59.pdf"
                       class="btn btn-secondary btn-style"
                       download="Bono_Articulo_59.pdf">
                        Descargar información <span class="botonDescargar fa-solid fa-arrow-down"></span>
                    </a>


                </td>
            </tr>
            <tr>
                <td>
                    Bono Patio
                </td>
                <td>
                    Subsidio (vía BANHVI) para construir una segunda vivienda en el mismo terreno familiar sin segregar la propiedad, promoviendo convivencia familiar e intergeneracional.
                </td>
                <td>


                    <a href="~/assets/Documentos/Bono_Patio.pdf"
                       class="btn btn-secondary btn-style"
                       download="Bono_Patio.pdf">
                        Descargar información <span class="botonDescargar fa-solid fa-arrow-down"></span>
                    </a>


                </td>
            </tr>
        </tbody>
    </table>

   
</body>