@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KoDeal - Business Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->

    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/assets/js/Filtrado de tablas_JavaScript.js" />
</head>

<body>
    <table class="TablaFilt">
        <thead class="CabezaTablaFilt"> 
            <tr>
                <th>
                    Nombre del bono
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Acción
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    bono
                </td>
                <td>
                    <a href="~/assets/Documentos/Trabajo Final La inteligencia artificial.pdf" class="btn btn-secondary btn-style">
                        Descargar información   <span class="fa-solid fa-arrow-down"></span>
                    </a>

                       

                    
                </td>
            </tr>
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    bono
                </td>
                <td>
                   

                        <a href="~/assets/Documentos/Trabajo Final La inteligencia artificial.pdf" class="btn btn-secondary btn-style">
                            Descargar información   <span class="fa-solid fa-arrow-down"></span>
                        </a>

                    
                </td>
            </tr>
        </tbody>
    </table>
</body>