@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KoDeal - Business Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="cwp23-block" class="py-5">
        <div class="container py-lg-5">
            <div class="row cwp23-content mt-lg-5 mt-4">
                <div class="col-lg-6 cwp23-img">
                    <h6 class="title-subhny mb-2"><span></span></h6>
                    <h3 class="title-w3l mb-4">
                        Contáctenos<br>

                    </h3>
                    <p class="mt-4">
                        En Grupo ABASA estamos comprometidos con
                        hacer realidad el sueño de muchas familias:
                        tener una casa propia. Si desea más información
                        sobre nuestros proyectos, requisitos para optar por
                        una casa de bono, no dude en contactarnos. Nuestro equipo estará
                        encantado de atenderle y brindarle la asesoría que necesita.
                    </p>

                    <div class="w3l-button mt-lg-5 mt-4">
                    </div>
                </div>
                <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 ps-lg-5">
                    <div class="cwp23-text-cols">
                        <div class="contenedor">
                            <span>
                                <i class="fa-brands fa-whatsapp fa-2x"></i>
                                <a href="https://wa.me/50686073753">
                                    <span class="InfoText">506-8607-3753</span>
                                </a>
                            </span>
                        </div>

                        <div class="contenedor">
                            <span>
                                <i class="fa-brands fa-facebook fa-2x"></i>
                                <a href="https://www.facebook.com/GrupoConstructorABASA">
                                    <span class="InfoText">Grupo Constructor ABASA</span>
                                </a>
                            </span>
                        </div>

                        <div class="contenedor">
                            <span>
                                <i class="fa-solid fa-phone fa-2x"></i>
                                <a href="tel:+50686073753">
                                    <span class="InfoText">506-8607-3753</span>
                                </a>
                            </span>
                        </div>

                        <div class="contenedor">
                            <span>
                                <i class="fa-solid fa-envelope fa-2x"></i>
                                <a href="mailto:grupoabasa@hotmail.com">
                                    <span class="InfoText">grupoabasa@hotmail.com</span>
                                </a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//footer-9 -->
    <!-- Js scripts -->
    <!-- Template JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/theme-change.js"></script>

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>


</body>
</html>




